:root {
    --font: 'Inter', sans-serif;
}

html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient( #e3eeff, #f3e7e9);
}



h1.tittle {
    font-size: 50px;
    font-weight: 600;
    font-family: var(--font);
}

img.icon {
    width: 500px;
    border-radius:100%;
    box-shadow: 0px 0px 1px #ddd, 0 10px 20px #ccc,
    0px 0px 100px rgba(227, 135, 255, 0.4);
}

.navbar {
z-index: 1000;
}

.nav-font {
font-family: var(--font);
font-weight: 500;
}

.nav-item {
    padding-left: 2rem;
}

