:root {
    --font: 'Inter', sans-serif;
}

@media (max-width: 576px) {
    img.icon {
        width: 200px !important;
        box-shadow: 
    -30px -20px 20px rgba(227, 135, 255, 0.3),
    0px 40px 20px rgba(255, 219, 57, 0.3),
     30px -20px 20px rgba(118, 255, 255, 0.22) !important;
}

h1.tittle {
    font-size: 33px !important;
}

h2.size-based {
    font-size: 20px !important;
}

div.move-name {
    font-size: 14px !important; }

h3.hand {
    font-size: 20px !important;
}

span.name {
    font-size: 15px !important;
}

div.moving-tittle {
    margin-top: 2rem !important;
}

}

@media (max-width: 780px) {
    h1.tittle {
        font-size: 60px;
    }
}
    

html {
    height: 100%;
}
body {
    background: #ECF2F7 !important;
}


h1.tittle {
    font-size: 50px;
    font-weight: 600;
    font-family: var(--font);
}
.navbar {
z-index: 1000;
position: fixed;
background: rgba( 255, 255, 255, 0.3 );
box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.02);
backdrop-filter: blur( 7px );
-webkit-backdrop-filter: blur( 7px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.nav-font {
font-family: var(--font);
font-weight: 500;
font-size: 15px;
}

.nav-item {
    padding-left: 1rem;
}

img.icon {
    width: 300px;
    border-radius:100%;
    outline: 10px double rgba(255, 255, 255, 0.4);
    border-width: 10px;
    box-shadow: 
    -50px -20px 40px rgba(227, 135, 255, 0.25),
    0px 50px 40px rgba(255, 219, 57, 0.3),
     50px -20px 40px rgba(118, 255, 255, 0.3);
}

div.name-card {
 background: rgba( 255, 255, 255, 0.3 );
box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.123);
backdrop-filter: blur( 7px );
-webkit-backdrop-filter: blur( 7px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

div.move-name {
    margin-top: -15rem;
}

span.name {
    font-size: 35px;
    font-weight: 700;
    font-family: var();
}

div.salute {
    font-family: var(--font);
}

p {
    font-family: var(--font);
}

div.moving-tittle {
    margin-top: 13rem;
}

h1.tittle {
    font-size: 70px;
     background-color: #f3ec78;
    background-image: linear-gradient(90deg, #ffa047, #c471ed, #52d7e0);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

div.based-in {
    font-size: 30px !important;
    opacity: 90%;
}

h2.size-based {
    font-size: 30px;
}

div.salute {
background: rgba( 255, 255, 255, 0.3 );
box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.123);
backdrop-filter: blur( 7px );
-webkit-backdrop-filter: blur( 7px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
margin-top: 2rem;
}

li.work-link {
    margin-left: 10rem;
}

a.work-link-color {
    color: #906efd!important;
}








